/*---------------------------Main Rules--------------------------*/
body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h1, h3, h4, h5, h6{
    font-family: 'Montserrat Alternates', sans-serif;
}

p{
    color: #8f8f8f;
}

th{
    color: #8f8f8f;
}

.colored-section{
    color: white;
    background-color: #ef8172;
}

.white-section{
    background-color: white;
}

/*---------------------------Classes and ID's---------------------------*/
/* ------Navbar------ */
.navbar {
    padding: 0 0 4.5rem 35px;
    margin-bottom: 1000px;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem !important;
    font-weight: 600;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff4c68;
}

/* ------Heading------ */
.big-heading{
    font-size: 3.25rem !important;
    line-height: 1.5;
}

.container{
    padding: 3% 15% 7%;
}

.download-buttons{
    margin: 5% 3% 5% 0;
}

.download-buttons-cta{
    margin: 1.5% 0;
}

#container-intro{
    text-align: left;
    padding-top: 75px;
    background-color: #ff4c68;
}

#iphone-dog{
    margin-left: 15%;
    transform: rotate(20deg);
    position: absolute;
    width: 55%;
    padding-top: 80px;
}

#div-iphone-dog{
    position: relative;
}

/* ------Features------ */
.features-title{
    font-weight: 800;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icons{
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.icons:hover{
    color: #ff4c68;
}

#features{
    padding: 7% 20%;
    background-color: white;
    /* Siempre que se usa z index, es obligatorio que la position no sea static */
    position: relative;
}

/* -----Testimonials----- */
#testimonials{
    text-align: center;
}

#press{
    text-align: center;
    margin-top: -5%;
    padding-bottom: 3%;
}

/* ------Pricing------ */
/* Pricing Cards */
.price-card-title, .primary-price-card-title{
    font-weight: bold;
}

.primary-price-card-title{
    color: white
}

.subtitle-text{
    font-weight: 700;
    font-size: 3rem;
}

.card-primary-price, .card-secondary-price{
    border-color: #c8c8c8 !important;
}

.card-primary-price:hover{
    border-color: #ff4c68 !important;
}

.text-bg-primary-price{
    background-color: #ff4c68 !important;
}

.card-secondary-price:hover{
    border-color: #d87669 !important;
}

#pricing{
    margin-top: 55px;
    text-align: center;
}

#price-cards{
    margin: 20px 2.5%;
}

#primary-price-card-subtitle{
    color: #d0cccc;
    font-weight:bold;
    font-size: 0.8rem;
}

/* Compare Plans */
.compare-plans-table{
    width: 25%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 35px;
}

.testimonial-image{
    border-radius: 100%; 
    width: 25%; 
    margin: 20px;
}

.carousel-item{
    padding: 7% 20%;
}

.btn-primary-price {
    background-color: #ff4c68 !important;
    border-color: #ff4c68 !important;
}

.btn-primary-price:hover{
    background-color: #d94057 !important;
    border-color: #d94057 !important;
}

.btn-outline-secondary-price {
    border-color: #ef8172!important;
    color: #ef8172 !important;
}

.btn-outline-secondary-price:hover{
    background-color: #d87669 !important;
    border-color: #d87669 !important;
    color: white !important;
}

#compare-plans{
    margin: 20px 10%;
}

/* -----CTA----- */
#cta{
    text-align: center;
    padding: 5% 0;
}

/* -----Footer----- */
#footer{
    background-color:  #eee7e7;
    padding: 0;
    height: 120px;
    text-align: center;
    font-size: 0.75rem;
}

#footer-container{
    width: 55%;
    height: 50px;
    padding: 25px 0 0;
    margin: auto;
}

/*--------------------------Media Querys--------------------------*/

@media (max-width: 991px){
    .big-heading{
        font-size: 2.5rem !important;
        text-align: center;
    }

    #iphone-dog{
        margin: 0 32%;
        transform: rotate(0deg);
        position: static;
        width: 35%;
        padding-top: 10px;
    }

    #container-intro{
        text-align: center;
    }
}
